52n-ogc-schema/src/main/resources/META-INF/xml/wps/t/profiles/deploymentProfiles.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    OGC LICENSE HEADER

    The official OGC XML schemas can be accessed under http://schemas.opengis.net.
    Please consider the schema copyright notices: http://www.opengeospatial.org/ogc/document
    and the OGC Copyright Notice and Disclaimers: http://www.opengeospatial.org/ogc/legal
    If there are any questions left there is also a copyright FAQ: http://www.opengeospatial.org/ogc/legalfaq
-->

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wps="http://www.opengis.net/wps/2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoc="http://www.opengis.net/wps/2.0/profile/tb13/eoc" targetNamespace="http://www.opengis.net/wps/2.0/profile/tb13/eoc" elementFormDefault="qualified" version="2.0.0" xml:lang="en">
	<!-- =============================================================
		includes and imports
	============================================================== -->
	<import namespace="http://www.opengis.net/wps/2.0" schemaLocation="http://schemas.opengis.net/wps/2.0/wps.xsd"/>
	<!-- =============================================================
		elements and types
	============================================================== -->
	<!-- =========================================================== -->
	<complexType name="PackageReferenceType">
		<annotation>
			<documentation>Reference (URL) to an archive file to be deployed. </documentation>
		</annotation>
		<attribute name="href" type="anyURI" use="required">
			<annotation>
				<documentation>Reference to a web-accessible package file to be deployed. This attribute shall contain a URL from which this package can be electronically retrieved. </documentation>
			</annotation>
		</attribute>
	</complexType>
	<!-- =========================================================== -->
	<complexType name="ApacheOdeDeploymentProfileType">
		<complexContent>
			<extension base="wps:AbstractDeploymentProfileType">
				<choice>
					<element name="Archive" type="base64Binary">
						<annotation>
							<documentation>Tar or Zipped file to be deployed on Apache ODE server.</documentation>
						</annotation>
					</element>
					<element name="ArchiveReference" type="eoc:PackageReferenceType">
						<annotation>
							<documentation>Reference (URL) to an archive file to be deployed on Apache ODE server.</documentation>
						</annotation>
					</element>
				</choice>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="OozieDeploymentProfileType">
		<complexContent>
			<extension base="wps:AbstractDeploymentProfileType">
				<choice>
					<element name="Archive" type="base64Binary">
						<annotation>
							<documentation>Tar or Zipped file to be deployed on Oozie server.</documentation>
						</annotation>
					</element>
					<element name="ArchiveReference" type="eoc:PackageReferenceType">
						<annotation>
							<documentation>Reference (URL) to an archive file to be deployed on Oozie server.</documentation>
						</annotation>
					</element>
				</choice>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="JavaDeploymentProfileType">
		<complexContent>
			<extension base="wps:AbstractDeploymentProfileType">
				<choice>
					<element name="Archive" type="base64Binary">
						<annotation>
							<documentation>Java JAR file to be deployed.</documentation>
						</annotation>
					</element>
					<element name="ArchiveReference" type="eoc:PackageReferenceType">
						<annotation>
							<documentation>Reference (URL) to JAR file to be deployed on the WPS server.</documentation>
						</annotation>
					</element>
				</choice>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ExecutionUnitType">
		<choice>
			<element name="Package" type="base64Binary">
				<annotation>
					<documentation>Docker image file to be deployed.</documentation>
				</annotation>
			</element>
			<element name="Reference" type="eoc:PackageReferenceType">
				<annotation>
					<documentation>Reference (URL) to Docker image file to be deployed on the WPS server.</documentation>
				</annotation>
			</element>
		</choice>
	</complexType>
	<complexType name="DockerImageInfoType">
		<sequence>
			<element name="name" type="xs:token" minOccurs="0">
				<annotation>
					<documentation>Name of the Docker image.</documentation>
				</annotation>
			</element>
			<element name="user" type="xs:token" minOccurs="0">
				<annotation>
					<documentation>User of the Docker image.</documentation>
				</annotation>
			</element>
			<element name="version" type="xs:token" default="latest" minOccurs="0">
				<annotation>
					<documentation>Version of the Docker image. Default is latest.</documentation>
				</annotation>
			</element>
			<element name="os" type="xs:token" default="linux" minOccurs="0">
				<annotation>
					<documentation>Type of the Docker image. Default is Linux.</documentation>
				</annotation>
			</element>
			<element name="command" type="xs:normalizedString" minOccurs="0">
				<annotation>
					<documentation>Command to be executed when running the Docker image (ovewrites the entry point defined in the image).</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="DockerDeploymentProfileType">
		<complexContent>
			<extension base="wps:AbstractDeploymentProfileType">
				<sequence>
					<element name="ExecutionUnit" type="eoc:ExecutionUnitType" minOccurs="0"/>
					<!--
					<element name="DockerImageInfo" type="eoc:DockerImageInfoType" minOccurs="0">
						<annotation>
							<documentation>Information needed to deploy and execute a Docker containerised application.</documentation>
						</annotation>
					</element> -->
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="ApacheOdeDeploymentProfile" type="eoc:ApacheOdeDeploymentProfileType"/>
	<element name="OozieDeploymentProfile" type="eoc:OozieDeploymentProfileType"/>
	<element name="JavaDeploymentProfile" type="eoc:JavaDeploymentProfileType"/>
	<element name="DockerDeploymentProfile" type="eoc:DockerDeploymentProfileType"/>
</schema>
