52n-ogc-schema/src/main/resources/META-INF/xml/wps/t/wpsDeployProcess.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    OGC LICENSE HEADER

    The official OGC XML schemas can be accessed under http://schemas.opengis.net.
    Please consider the schema copyright notices: http://www.opengeospatial.org/ogc/document
    and the OGC Copyright Notice and Disclaimers: http://www.opengeospatial.org/ogc/legal
    If there are any questions left there is also a copyright FAQ: http://www.opengeospatial.org/ogc/legalfaq
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ows="http://www.opengis.net/ows/2.0" xmlns:wps="http://www.opengis.net/wps/2.0" targetNamespace="http://www.opengis.net/wps/2.0" elementFormDefault="qualified" version="2.0.0" xml:lang="en">
	<annotation>
		<documentation>
			WPS is an OGC Standard.
			Copyright (c) 2015 Open Geospatial Consortium.
			To obtain additional rights of use, visit http://www.opengeospatial.org/legal/.
		</documentation>
	</annotation>
	<!-- all-components document include (OGC 06-135r11 s#14) -->
	<include schemaLocation="wps.xsd"/>
	<!-- === IMPORTS === -->
	<import namespace="http://www.opengis.net/ows/2.0" schemaLocation="http://schemas.opengis.net/ows/2.0/owsAll.xsd"/>
	<import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<!-- === INCLUDES === -->
		<!-- =========================================================== -->
	<!-- DeployProcess request elements and types -->
	<!-- =========================================================== -->
	<complexType name="PackageReferenceType">
		<annotation>
			<documentation>Reference (URL) to an archive file to be deployed. </documentation>
		</annotation>
		<attribute name="href" type="anyURI" use="required">
			<annotation>
				<documentation>This attribute shall contain a URL from which the package can be electronically retrieved. </documentation>
			</annotation>
		</attribute>
	</complexType>
	<complexType name="ExecutionUnitType">
		<choice>
			<element name="Package" type="anyType">
				<annotation>
					<documentation>Package to be deployed.</documentation>
				</annotation>
			</element>
			<element name="Reference" type="wps:PackageReferenceType">
				<annotation>
					<documentation>Reference (URL) to the package to be deployed.</documentation>
				</annotation>
			</element>
		</choice>
	</complexType>
	<complexType name="DeploymentProfileType">
		<sequence>
			<element name="DeploymentProfileName" type="normalizedString">
				<annotation>
					<documentation>Process deployment profile Name.</documentation>
				</annotation>
			</element>
			<element name="ExecutionUnit" type="wps:ExecutionUnitType" minOccurs="0"/>
			<element name="ProfileExtension" type="anyType" minOccurs="0"/>
		</sequence>
	</complexType>
	<element name="DeployProcess">
		<annotation>
			<documentation>WPS DescribeProcess operation request. </documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="wps:RequestBaseType">
					<sequence>
						<element ref="wps:ProcessOffering">
							<annotation>
								<documentation>Description of the process being deployed.</documentation>
							</annotation>
						</element>
						<element name="DeploymentProfile" type="wps:DeploymentProfileType">
							<annotation>
								<documentation>Process deployment profile.</documentation>
							</annotation>
						</element>
					</sequence>
					<attribute ref="xml:lang" use="optional">
						<annotation>
							<documentation>RFC 4646 language code of the human-readable text (e.g. "en-CA") in the process description.</documentation>
						</annotation>
					</attribute>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<!-- =========================================================== -->
	<!-- DeployProcess response elements and types -->
	<!-- =========================================================== -->
	<element name="DeployResult" type="wps:DeployResultType">
		<annotation>
			<documentation>DeployProcess result.</documentation>
		</annotation>
	</element>
	<complexType name="DeployResultType">
		<sequence>
			<element name="DeploymentDone" type="boolean"/>
			<choice>
				<element name="ProcessSummary" type="wps:ProcessSummaryType" minOccurs="0">
					<annotation>
						<documentation>If DeploymentDone = true</documentation>
					</annotation>
				</element>
				<element name="FailureReason" type="string">
					<annotation>
						<documentation>If DeploymentDone = false</documentation>
					</annotation>
				</element>
			</choice>
		</sequence>
	</complexType>
</schema>
