52n-ogc-schema/src/main/resources/META-INF/xml/wps/t/wpsDeployProcess.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    OGC LICENSE HEADER

    The official OGC XML schemas can be accessed under http://schemas.opengis.net.
    Please consider the schema copyright notices: http://www.opengeospatial.org/ogc/document
    and the OGC Copyright Notice and Disclaimers: http://www.opengeospatial.org/ogc/legal
    If there are any questions left there is also a copyright FAQ: http://www.opengeospatial.org/ogc/legalfaq
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ows="http://www.opengis.net/ows/2.0" xmlns:wps="http://www.opengis.net/wps/2.0" targetNamespace="http://www.opengis.net/wps/2.0" elementFormDefault="qualified" version="2.0.0" xml:lang="en">
	<annotation>
		<documentation>
			WPS is an OGC Standard.
			Copyright (c) 2015 Open Geospatial Consortium.
			To obtain additional rights of use, visit http://www.opengeospatial.org/legal/.
		</documentation>
	</annotation>
	<!-- all-components document include (OGC 06-135r11 s#14) -->
	<include schemaLocation="wps.xsd"/>
	<!-- === IMPORTS === -->
	<import namespace="http://www.opengis.net/ows/2.0" schemaLocation="http://schemas.opengis.net/ows/2.0/owsAll.xsd"/>
	<import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<!-- === INCLUDES === -->
	
	<!-- =========================================================== -->
	<!-- DescribeProcess request elements and types -->
	<!-- =========================================================== -->
	<element name="DeployProcess">
		<annotation>
			<documentation>WPS DescribeProcess operation request. </documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="wps:RequestBaseType">
					<sequence>
						<element ref="wps:ProcessOffering">
							<annotation>
								<documentation>
									One or more identifiers for which the process description shall be obtained.
									"ALL"" is reserved to retrieve the  descriptions for all available process offerings.
								</documentation>
							</annotation>
						</element>
						<element name="DeploymentProfile" type="wps:AbstractDeploymentProfileType"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="DeployProcessResponse">
		<annotation>
			<documentation>WPS DescribeProcess operation request. </documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="wps:RequestBaseType">
					<sequence>
						<element name="Result">
							<complexType>
								<attribute name="success" type="boolean"/>
							</complexType>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<!-- =========================================================== -->
	<!-- DescribeProcess response elements and types -->
	<complexType name="AbstractDeploymentProfileType" abstract="1">
		<sequence>
			<element name="Schema">
				<complexType>
					<attribute ref="ows:reference"/>
				</complexType>
			</element>
		</sequence>
	</complexType>
</schema>
